[Socket]
ListenStream=/run/.authentication-server-api-passwd-set.sock
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=authentication-server.service

[Unit]
Wants=authentication-server.target
Before=authentication-server.target

[Install]
WantedBy=sockets.target
